@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  height: 100vh;
  background-color: #a9c9ff;
  background-image: linear-gradient(120deg, #a9c9ff 0%, #ffbbec 100%);
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 10vh;
}

div > p {
  border: 2px solid black;
  margin: 0 10vw;
  padding: 1vh 4vw;
  font-weight: 600;
  font-size: 2em;
}

@media only screen and (max-width: 600px){
  #text{
    height: 80vh;
  }
  div>p{
    font-size: 1.5em;
  }
}
